.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.home-string {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  background-color: #999;
  border-radius: 5px;
  min-height: 60px;
}

.home-button {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
