.room-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.room-videos {
  display: flex;
  flex-grow: 1;
  padding: 40px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.room-video {
  border: 1px solid #555;
  border-radius: 10px;
}

.room-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
